/* New styles for the B2B details page */

body {
    background-image: url('image/vehicle_details.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.b2b-container {
    max-width: 600px;
    margin: 50px auto; /* Center the container */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add a shadow effect */
}

form {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.1); /* White color with 50% opacity */
    padding: 20px;
    border-radius: 10px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="file"] {
    width: calc(100% - 70px);
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
