/* New styles for the B2B details page */

body {
    background-image: url('image/vehicle_details.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="file"] {
    width: calc(100% - 70px);
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
